@* <h1>Hello</h1> *@

@model IEnumerable<PizzaBox.Client.Models.OrderViewModel>

@{
    ViewBag.Title = "ClientAllOrders";
}

@* @{
  if (TempData["UserViewModel"] != null)
      {
        var userViewModel = TempData["UserViewModel"] as UserViewModel;
      }
} *@


<h2>All Your Past Orders</h2>

@* <p>
    @Html.ActionLink("Create New", "Create")
</p> *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        @* <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td> *@
    </tr>
}

</table>




@* @{
  ViewData["Title"] = "User Order History";
}

<div class="text-center">
  <h1 class="display-4">Your Past Orders</h1>
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr>
        <th>Pizzeria</th>
        <th>Date</th>
      </tr> 
    </thead>
    
    @foreach (var o in ViewBag.User)
    {
      <tbody>
        <tr>
          <td>@o.StoreId</td>
          <td>@o.Date</td>
        </tr>
      </tbody>
    }
  </table>
</div> *@