@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "View History";
}

<h1>@Model.ClientName, select a pizza by number</h1>
<br>

<form action="/user/menuclient" method="post">
  <h6><input type="submit" value="Back to menu"></h6>
</form>
<br>

@using (Html.BeginForm("PreViewOrder", "User", FormMethod.Post))
{
  @Html.ValidationMessageFor(m => m.SelectedPizza.PizzaId)
  <label>Enter the pizza's number</label>
  <input type="text" id="pizzaId" name="pizzaId">
  @Html.ValidationMessageFor(mo => mo.SelectedPizza.PizzaId, "", new { @class = "text-danger" })
  <button type="submit">select</button>
}

<div>
  <table class="table" style="margin-top:-200px;">
    <th>
        <tr>
          <td>
            <h3>Number</h3>
          </td>
          <td>
            <h3>Price</h3>
          </td>
          <td>
            <h3>Name</h3>
          </td>
        </tr>
      </th>@foreach (var item in Model.Pizzas)
    {
      <tr>
        <td>
            <h6>@Html.DisplayFor(modelitem => item.PizzaId))</h6>
        </td>
        <td>
            <h6>$@Html.DisplayFor(modelitem => item.Price)</h6>
        </td>
        <td>
            <h6>@Html.DisplayFor(modelitem => item.Name)</h6>
        </td>
      </tr>
      <br>
    }
  </table>
</div>
