<head>
  <style>
    img{
      text-align: center;
      max-width: 70%;
      padding-left: 30%;
    }
    h1{
      color: red;
      text-align: center;
    }
    h3{
      color: darkgreen;
    }
    button{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    table td, table th {
      font-size: 1em;
      padding: 5px 7px 5px 7px;
    }
    table{
      margin-top:-70px;
    }
  </style>
</head>

@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "choose a pizzeria";
}

<h1>@Model.ClientName, choose a pizzeria</h1>
<br>

<form action="/user/menuclient" method="post">
  <button type="submit">Back to menu</button>
</form>
<br>

<div>
  @using (Html.BeginForm("ChoosePizzeria", "User", FormMethod.Post))
  {
    @Html.ValidationMessageFor(m => m.SelectedStore.StoreId)
    <label>Enter the pizzeria's number</label>
    <input type="text" id="storeId" name="storeId">
    @Html.ValidationMessageFor(mo => mo.SelectedStore.StoreId, "", new { @class = "text-danger" })
    <button type="submit">Select</button>
  
    <table>
      <th>
        <tr>
          <td>
            <h3>N°  </h3>
          </td>
          <td></td>
          <td></td>
          <td>
            <h3>Pizzeria    </h3>
          </td>
          <td></td>
          <td></td>
          <td>
            <h3>Address</h3>
          </td>
        </tr>
      </th>
      @foreach (var item in Model.AllStores)
      {
        <tr>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.StoreId))</h5>
          </td>
          <td></td>
          <td></td>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.Name)</h5>
          </td>
          <td></td>
          <td></td>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.Address)</h5>
          </td>
        </tr>
        <br>
      }
    </table>
  }
  
</div>