@model PizzaBox.Client.Models.StoreViewModel

@{
    ViewData["Title"] = "choose a pizzeria";
}

<h1>@Model.ClientName, choose a pizzeria</h1>
<br>

<form action="/user/menuclient" method="post">
  <h6><input type="submit" value="Back to menu"></h6>
</form>
<br>

<div>
  @using (Html.BeginForm("ChoosePizzeria", "User", FormMethod.Post))
  {
    @Html.ValidationMessageFor(m => m.SelectedStore.StoreId)
    <label>Enter the pizzeria's number</label>
    <input type="text" id="storeId" name="storeId">
    @Html.ValidationMessageFor(mo => mo.SelectedStore.StoreId, "", new { @class = "text-danger" })
    <button type="submit">select</button>
  
    <table class="table" style="margin-top:-70px;">
      <th>
        <tr>
          <td>
            <h3>Number</h3>
          </td>
          <td>
            <h3>Name</h3>
          </td>
          <td>
            <h3>Address</h3>
          </td>
        </tr>
      </th>
      @foreach (var item in Model.AllStores)
      {
        <tr>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.StoreId))</h5>
          </td>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.Name)</h5>
          </td>
          <td>
              <h5>@Html.DisplayFor(modelitem => item.Address)</h5>
          </td>
        </tr>
        <br>
      }
    </table>
  
  }
  
</div>




@* <div class="text-center">
    <h1 class="display-4">please select a pizzeria</h1>
</div>
<div>
  <h4 class="display-8">1) PizzaEater</h4>
  <br>
  <h4 class="display-8">2) DiegoPizza</h4>
  <br>
  <h4 class="display-8">3) MiPizza</h4>
  <br>
  <h4 class="display-8">4) TuPizza</h4>
  <br>
  <h4 class="display-8">5) Mangiata</h4>
  <br>
  <h4 class="display-8">6) PizzaLover</h4>
  <br>
</div> *@
