@model IEnumerable<PizzaBox.Client.Models.OrderViewModel>

@{
    ViewData["Title"] = "View History";
}

<h1 style="text-align:center">Here are all your orders from the past 30 days</h1>
<br>
<form action="/user/menuclient" method="post">
  <h4><input type="submit" value="Back to menu"></h4>
</form>
<br>

@foreach (var item in Model)
{
  <table class="table">
    <tr>
      <th>
        @Html.DisplayFor(modelitem => item.Count)
      </th>
      <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.StoreName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
    @for (int i = 0; i < item.AmountPizzas.Count; i+=2)
    {
      <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPizzas[i])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPizzas[i+1])
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>    
    }
    <tr>
        <td>
            <h4>total: $@Html.DisplayFor(modelItem => item.TotalPrice)</h4>
        </td>
    </tr>
  </table>
  <br>
}