<head>
  <style>
    img{
      text-align: center;
      max-width: 70%;
      padding-left: 30%;
    }
    h1{
      color: red;
      text-align: center;
    }
    input{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    table{
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

@model PizzaBox.Client.Models.UserViewModel

@{
    ViewData["Title"] = "Past Orders";
    //var u = ViewBag.Message;
}

<h1>@Model.Name, orders from which period?</h1>
<br>
<br>

<table>
  <tr>
    <td>
     <form action="/user/clientallorders" method="post">
      @Html.HiddenFor(model => model.UserId)
      <h3><input type="submit" value="All orders"></h3>
    </form> 
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/days7orders" method="post">
        @Html.HiddenFor(u => u.UserId, new { Value = "UserId" })
        <h3><input type="submit" value="Last 7 days"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/days30orders" method="post">
        @Html.HiddenFor(u => u.UserId, new { Value = "UserId" })
        <h3><input type="submit" value="Last 30 days"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/menuclient" method="post">
        @Html.HiddenFor(u => u.Name, new { Value = "Name" })
        <h3><input type="submit" value="Back to menu"></h3>
      </form>
    </td>
  </tr>
</table>
<br>
<br>


<img src="https://media.istockphoto.com/vectors/sliced-vegetarian-pizza-vector-id472291585?k=6&m=472291585&s=612x612&w=0&h=Fr4b0xZxpBXWHX_mK5yf6i2NiIxH34JhlDwrNiQxQJY=" alt="pizza">


