@model PizzaBox.Client.Models.UserViewModel

@{
    ViewData["Title"] = "Past Orders";
    //var u = ViewBag.Message;
}

<h1 style="text-align:center">@Model.Name, orders from which period?</h1>
<br>
<br>

<table style="margin-left:auto;margin-right:auto;">
  <tr>
    <td>
     <form action="/user/clientallorders" method="post">
      @Html.HiddenFor(model => model.UserId)
      <h3><input type="submit" value="All orders"></h3>
    </form> 
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/days7orders" method="post">
        @Html.HiddenFor(u => u.UserId, new { Value = "UserId" })
        <h3><input type="submit" value="Last 7 days"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/days30orders" method="post">
        @Html.HiddenFor(u => u.UserId, new { Value = "UserId" })
        <h3><input type="submit" value="Last 30 days"></h3>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <form action="/user/menuclient" method="post">
        @Html.HiddenFor(u => u.Name, new { Value = "Name" })
        <h3><input type="submit" value="Back to menu"></h3>
      </form>
    </td>
  </tr>
</table>


