<head>
  <style>
    img{
      text-align: center;
      max-width: 70%;
      padding-left: 30%;
    }
    h1{
      color: red;
      text-align: center;
    }
    h3{
      color: darkgreen;
    }
    input{
      color: white;
      background-color: darkgreen;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkgreen;
      border-style: solid;
      border-width: 2px;
    }
    table td, table th {
      font-size: 1em;
      padding: 5px 7px 5px 7px;
    }
  </style>
</head>

@model IEnumerable<PizzaBox.Client.Models.OrderViewModel>

@{
    ViewData["Title"] = "View History";
}

<h1>Here are all your past orders</h1>
<br>

<form action="/store/menupizzeria" method="post">
  <h4><input type="submit" value="Back to menu"></h4>
</form>
<br>

@foreach (var item in Model)
{
  <table>
    <tr>
      <th>
        <h3>Order @Html.DisplayFor(modelitem => item.Count)</h3>
      </th>
      <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.ClientName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
    @for (int i = 0; i < item.AmountPizzas.Count; i+=2)
    {
      <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPizzas[i])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPizzas[i+1])
        </td>
      </tr>    
    }
    <tr>
        <td>
            <h4>Total: $@Html.DisplayFor(modelItem => item.TotalPrice)</h4>
        </td>
    </tr>
  </table>
  <br>
}